
BIOMISTRAL_API_URL=https://api-inference.huggingface.co/models/BioMistral/BioMistral-7B
BIOMISTRAL_API_KEY=None
BIOMISTRAL_API_MODE=hf
BIOMISTRAL_MODEL_NAME=BioMistral-7B
MAX_NEW_TOKENS=250
TEMPERATURE=0.3
REQUEST_TIMEOUT=30
